.team-alignleft{
    overflow: hidden;
    position: relative;
    padding: 48px 30px 53px;
    border-bottom: 2px solid #8f8d87;
}

.team-alignright{
    overflow: hidden;
    position: relative;
    padding: 48px 30px 53px;
    border-bottom: 2px solid #8f8d87;

}

.text-box {
    overflow: hidden;
    position: relative;
}

.team-alignleft .teamimage{
    border-top-left-radius: 132px;
    border-top-right-radius: 132px;
    border-bottom-right-radius: 132px;
    border-bottom-left-radius: 132px;
    position: relative;
    vertical-align: top;
	float:left;
	margin-right:150px;
	margin-top:50px;

}

.team-alignright .teamimage{
    border-top-left-radius: 132px;
    border-top-right-radius: 132px;
    border-bottom-right-radius: 132px;
    border-bottom-left-radius: 132px;
    position: relative;
    vertical-align: top;
	float:right;
	margin-left:150px;
	margin-top:50px
}





#myCarousel{
	max-width:1140px;
	margin: 0 auto;
}

.carousel-inner > .item > img {
	height:380px;
	filter: brightness(60%);

}

.carousel-caption {
	font-family:    Arial, Helvetica, sans-serif;
    font-size:      25px;
}

.carousel-caption h3{ 
    font-size: 40px;
    font-weight: bold;
}



.navbar-inverse b{
	font-size: 18px;
	vertical-align:center
}


.navabr-navbar-info {
    font-size: 20px;
	font-weight: bold;
	color:#000060
}

.maincontent {
	font-size: 18px;
    text-align: left;
    line-height: 3.2rem;
	padding: 20px 20px 20px;
}

.maincontent > ul {
	font-size:16px;
	text-align: left;
	line-height: 2rem;
	font-weight: normal;
}

.firstword
{
	font-family: font-family: arial,sans-serif;
    color: #000060;
	font-size: 40px;
}

footer {
    background-color: #222;
	border-radius: 4px;
	font-size: 14px;
	color:white;
	text-align:center;  
}

footer div .col {
 width:33%;
 display:inline-block;
 text-align:left;
 padding-left:15px;
 vertical-align:top;
 height: 220px;
}

footer .container{
	margin-right:20px;
    margin-left: 20px;
	width:95%
}



.copyright{
	background-color:grey;
	text-align: center;
	
}


footer ul {
	font-size: 14px;
	list-style-type: none;
	padding-left: 0;
}

footer a {
	color:#8b9dc3;
	font-family:arial,helvetica;
	font-size: 14px;
}

.rainyday-form {
	text-align:left;  
	padding-left:50px;
	background-color: #f2f2f2;
	border-radius: 20px;
	
}

.col-10{
	width:50%;

}






